@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  background-color: white;
  font-family: "Prompt", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  width: 100%;
  padding: 1.5vw;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 1;
}
header img {
  width: 5.2vw;
}
#shipping-btn {
  padding: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 1vw;
  border-radius: 6px;
  background-color: #60181c;
  color: white;
  font-size: 1.2vw;
  font-weight: 550;
  width: 14vw;
}
#shipping-btn:hover {
  background-color: #57171a;
  cursor: pointer;
}
#shipping-btn:active #shipping-btn-txt {
  display: none;
}
.ri-truck-line {
  font-size: 2vw;
}

main {
  width: 100%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.main-title h3 {
  font-size: 1.3vw;
}
.checkout-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vw;
}

.order-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.order-details {
  display: flex;
  gap: 0.9vw;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 1vw;
  background-color: #fff;
}

.order-item-img img {
  width: 200px;
}
.order-item-detail {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
#quantity-input {
  width: 30px;
}
.order-delivery-option {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.option {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-bottom: 1vw;
}
.Shipping-date {
  color: #60181c;
}
.shipping-cost {
  color: grey;
}
input[type="radio"] {
  transform: scale(1.5);
}
.quantity-select {
  display: flex;
  gap: 2vw;
  margin-top: 1vw;
}
.order-summary {
  flex: 1;
  border: 1px solid grey;
  border-radius: 6px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
  height: fit-content;
}
.order-detail {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.order-item,
.order-shipping-price,
.order-before-tax,
.order-after-tax {
  display: flex;
  justify-content: space-between;
}
.order-total-price {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.total-price {
  display: flex;
  justify-content: space-between;
}
.place-order button {
  width: 100%;
  background-color: #60181c;
  border: none;
  border-radius: 6px;
  padding: 1vw;
  color: white;
  font-size: 1.2vw;
  font-weight: 550;
}

@media (max-width: 800px) {
  header img {
    width: 15vw;
  }
  #shipping-btn {
    width: 35vw;
    padding: 3vw 2vw;
    font-size: 3vw;
  }
  #shipping-btn-txt {
    font-size: 3vw;
  }
  .ri-truck-line {
    font-size: 4vw;
  }
  .main-title h3 {
    font-size: 3vw;
  }

  .checkout-box {
    flex-direction: column;
    gap: 2vw;
  }

  .order-list {
    flex: 2 1 100%;
    gap: 2vw;
  }

  .order-details {
    flex-direction: row;
    gap: 1vw;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .order-item-img {
    width: 35%;
    min-width: 120px;
  }
  .order-item-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .order-item-detail {
    flex: 1;
    gap: 1vw;
  }
  .order-item-detail h3 {
    font-size: 3vw;
  }
  .order-item-detail b {
    font-size: 3vw;
  }
  .quantity span {
    font-size: 2.5vw;
  }
  .quantity-select span {
    font-size: 2vw;
  }
  #quantity-input {
    width: 30px;
  }

  .order-delivery-option h3 {
    font-size: 2.5vw;
  }
  .shipping-option h3 {
    font-size: 2.5vw;
  }
  .shipping-cost {
    font-size: 2vw;
  }

  .order-summary {
    width: 100%;
    padding: 1vw;
  }
  .order-summary h3 {
    font-size: 3vw;
  }
  .order-summary p {
    font-size: 2.5vw;
  }
  .total-price b {
    font-size: 2.8vw;
  }
  .place-order button {
    font-size: 3vw;
    padding: 3vw;
  }
}
