@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  background-color: white;
  font-family: "Prompt", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  width: 100%;
  padding: 1.5vw;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
}
header img {
  width: 5.2vw;
}
#shipping-btn {
  padding: 0.5vw;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 1vw;
  border-radius: 6px;
  background-color: #60181c;
  color: white;
  font-size: 1.2vw;
  font-weight: 550;
  width: 14vw;
  transition: 20s ease-in-out;
}
#shipping-btn:hover {
  background-color: #57171a;
  cursor: pointer;
}
#shipping-btn:active #shipping-btn-txt {
  display: none;
}
.ri-truck-line {
  font-size: 2vw;
}
main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
}
.main-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.checkout-box {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.order-list {
  flex: 2;
  padding: 1vw;
  border: 1px solid grey;
  border-radius: 6px;
}
.checkout-box h3 {
  font-size: 1.3vw;
}
.order-summary {
  flex: 1;
  border: 1px solid grey;
  border-radius: 6px;
}
.order-details {
  width: 100%;
  display: flex;
  gap: 0.2vw;
  margin-top: 1vw;
}
.box {
  flex: 1;
}
.order-item-img {
  width: 210px;
}
.order-item-img img {
  width: 200px;
}
.order-item-detail {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
#quantity-input {
  width: 30px;
}
.order-delivery-option {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.option {
  display: flex;
  gap: 1vw;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vw;
}
.Shipping-date {
  color: #60181c;
}
.shipping-cost {
  color: grey;
}
.radio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="radio"] {
  transform: scale(1.5);
}
.order-summary {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
}
.order-detail {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.order-item {
  display: flex;
  justify-content: space-between;
}
.order-shipping-price {
  display: flex;
  justify-content: space-between;
}
.order-before-tax {
  display: flex;
  justify-content: space-between;
}
.order-after-tax {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vw;
}
.order-total-price {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.total-price {
  display: flex;
  justify-content: space-between;
}
.place-order {
  width: 100%;
}
.place-order button {
  width: 100%;
  background-color: #60181c;
  border: none;
  border-radius: 6px;
  padding: 1vw;
  color: white;
  font-size: 1.2vw;
  font-weight: 550;
}

@media (max-width: 800px) {
  header img {
    width: 15vw;
  }
  #shipping-btn {
    width: 29vw;
    padding: 3vw 2vw;
  }
  #shipping-btn-txt {
    font-size: 2.5vw;
  }
  .ri-truck-line {
    font-size: 3vw;
  }
  .main-title h3 {
    font-size: 2.2vw;
  }
  .checkout-box {
    flex-direction: column;
  }
  .checkout-box h3 {
    font-size: 1.7vw;
  }
  .order-item-detail b,
  .order-summary b {
    font-size: 2.5vw;
  }
  .order-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .order-summary {
    width: 100%;
  }
  .order-item-img {
    width: 160px;
  }
  .order-item-img img {
    width: 150px;
  }
  input[type="radio"] {
    transform: scale(1);
  }
  .quantity span {
    font-size: 2.5vw;
  }
  .order-details p {
    font-size: 2vw;
  }
  #quantity-input {
    width: 25px;
  }
  .order-summary p {
    font-size: 2.5vw;
  }
}
