@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Prompt", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 1vw 2vw;
  background-color: white;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
header img {
  width: 5.5vw;
}
header #signup {
  padding: 1vw 3vw;
  border: none;
  border-radius: 6px;
  background-color: #60181c;
  color: white;
  font-size: 1.5vw;
  font-weight: 550;
}
header #signup:hover {
  background-color: #57171a;
  cursor: pointer;
}
header #signup:active {
  transform: scale(0.98);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
nav h3 {
  font-size: 1.7vw;
}
nav h3:hover {
  padding-bottom: 1vw;
  border-bottom: 3px solid #60181c;
  border-radius: 2px;
}
i {
  display: none;
}
main {
  height: calc(100% - 70px);
  width: 100%;
}
main #banner-img {
  width: 100%;
}
main #banner-img img {
  width: 100%;
}
.product-section {
  display: flex;
}
.product-section img {
  width: 500px;
}
/* .tree {
}
h5 {
  display: inline-block;
  background-color: red;
  width: 100%;
} */
@media (max-width: 800px) {
  nav {
    display: none;
  }
  header img {
    width: 15vw;
  }
  #signup {
    display: none;
  }
  i {
    display: block;
    font-size: 8vw;
    font-weight: 600;
  }
}
