@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Prompt", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 70px;
  width: 100%;
  padding: 1vw 2vw;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
header img {
  width: 5.5vw;
}
header #signup {
  padding: 1vw 3vw;
  border: none;
  border-radius: 6px;
  background-color: #60181c;
  color: white;
  font-size: 1.5vw;
  font-weight: 550;
}
header #signup:hover {
  background-color: #57171a;
  cursor: pointer;
}
header #signup:active {
  transform: scale(0.98);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
nav h3 {
  font-size: 1.7vw;
}
nav h3:hover {
  padding-bottom: 1vw;
  border-bottom: 3px solid #60181c;
  border-radius: 2px;
  cursor: pointer;
}
i {
  display: none;
}
main {
  width: 100%;
}
main #banner-img {
  width: 100%;
  cursor: pointer;
}
main #banner-img img {
  width: 100%;
  object-fit: cover;
}
/* .product-section {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 2vw;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}
.product {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 48vw;
  height: auto;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}
.product-img img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.product-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 100%;
  font-size: 2vw;
  font-weight: 500;
  margin-top: -7px;
  line-height: 1.2;
  background-color: red;
}
.product-name:hover {
  background-color: #60181c;
  color: white;
} */

.discount-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.cart {
  padding: 1vw;
  text-align: center;
  width: calc(100% / 4);
}
.cart h6 {
  font-size: 1.3vw;
  color: #60181c;
}
.cart img {
  width: 100%;
}
.cart img:hover,
.payment img:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.product-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  padding-bottom: 2vw;
}
.product-cart .items {
  width: 23vw;
  height: auto;
}
.items img {
  width: 100%;
}
.cart-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}
.items:hover {
  background-color: #60181c;
  color: white;
  .icons-btn {
    background-color: white;
  }
  .icon {
    color: #60181c;
  }
}
#discount-banner:hover {
  background-color: transparent;
}
.icons-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #60181c;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}
.icon {
  display: block;
  font-size: 1.2rem;
  color: white;
}
#product-title {
  font-size: 1.2vw;
}
#product-price {
  font-size: 1.5vw;
}
h2 {
  text-align: center;
  margin: 20px 0px 20px 0px;
  color: #60181c;
}
footer {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 30px 0px;
}
.org-details {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  padding: 1.5vw 1vw 1vw 1vw;
  border-top: 4px solid #60181c;
  border-bottom: 4px solid #60181c;
}
.footer-logo img {
  width: 15vw;
}
.footer-logo,
.about,
.customer-service,
.social-media {
  width: 25vw;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  justify-content: center;
  align-items: center;
  height: 100%;
}
footer h3 {
  color: #60181c;
}
.customer-service ul,
.social-media ul {
  list-style: none;
}
.customer-service a,
.social-media a {
  text-decoration: none;
  color: black;
}
.org-claim {
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.payment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment img {
  width: 60px;
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 800px) {
  nav {
    display: none;
  }
  header img {
    width: 15vw;
  }
  #signup {
    display: none;
  }
  i {
    display: block;
    font-size: 8vw;
    font-weight: 600;
  }
  .product {
    width: 98vw;
    height: 250px;
  }
  .product-img {
    width: 98vw;
  }
  .product-section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4vw;
    width: 100%;
  }
  .product-img img {
    width: 100%;
    height: auto;
  }
  .product h5 {
    font-size: 5vw;
  }
  #product-title {
    font-size: 1.1vw;
  }
  #product-price {
    font-size: 1.3vw;
  }
  .icons-btn {
    width: 15px;
    height: 15px;
    padding: 5px;
  }
  .icon {
    font-size: 2vw;
  }
  h2 {
    font-size: 3vw;
  }
  footer h3 {
    font-size: 2.5vw;
  }
  .org-details {
    gap: 1vw;
  }
  .about p {
    font-size: 2vw;
  }
  .customer-service li,
  .social-media li {
    font-size: 2vw;
  }
  .footer-logo img {
    width: 25vw;
  }
  .org-claim h3 {
    font-size: 3vw;
  }
  .payment img {
    width: 10vw;
    margin-right: 5px;
  }
}
